permissions:
  actions: read
  contents: read
  security-events: write

name: Security Pipeline

on:
  push:
    branches: [ "develop", "main" ]
  pull_request:
    branches: [ "develop", "main" ]
  schedule:
    - cron: '0 3 * * 1'

jobs:
  snyk:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Install dependencies
        run: npm ci --legacy-peer-deps
      - name: Run Snyk to check for vulnerabilities
        uses: snyk/actions/node@master
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          command: test
          args: --severity-threshold=medium

  codeql:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Initialize CodeQL
        uses: github/codeql-action/init@v3
        with:
          languages: javascript
      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v3

  dependency-review:
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Dependency Review
        uses: actions/dependency-review-action@v4

  sonarcloud:
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Install dependencies
        run: npm ci --legacy-peer-deps
      - name: Run tests with coverage
        run: npm test -- --coverage
      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@v2
        with:
          args: >
           -Dsonar.projectKey=sebastian1219_taller-3-cliclo-software-G6
           -Dsonar.organization=sebastian1219
           -Dsonar.javascript.lcov.reportPaths=coverage/lcov.info
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}


  docker-scout:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image
        run: |
          IMAGE=$(echo "${{ github.repository }}" | tr '[:upper:]' '[:lower:]')
          docker build -t ${IMAGE}:pr-${{ github.run_id }} .

      - name: Docker Scout scan
        uses: docker/scout-action@v1
        with:
          command: cves
          image: ${{ github.repository }}:pr-${{ github.run_id }}
          only-severities: critical,high
          exit-code: true
          local: true

  docker-push:
    runs-on: ubuntu-latest
    needs: [snyk, codeql, dependency-review, sonarcloud, docker-scout]
    if: ${{ needs.snyk.result == 'success' && needs.codeql.result == 'success' && (github.event_name != 'pull_request' || needs.dependency-review.result == 'success') && (github.event_name != 'pull_request' || needs.sonarcloud.result == 'success') && needs.docker-scout.result == 'success' }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and tag image
        run: |
          IMAGE=$(echo "${{ secrets.DOCKERHUB_USERNAME }}/${{ github.repository }}" | tr '[:upper:]' '[:lower:]')
          TAG=${{ github.sha }}
          docker build -t ${IMAGE}:${TAG} .
          docker tag ${IMAGE}:${TAG} ${IMAGE}:latest

      - name: Push image
        run: |
          IMAGE=$(echo "${{ secrets.DOCKERHUB_USERNAME }}/${{ github.repository }}" | tr '[:upper:]' '[:lower:]')
          TAG=${{ github.sha }}
          docker push ${IMAGE}:${TAG}
          docker push ${IMAGE}:latest

